.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: var(--mobile-outer-padding);

    text-align: center;
}

.notFoundDescription {
    margin-top: 24px;
}

.notFoundMessage {
    margin: 8px 0 54px;
}
