.singleComment {
    padding: 0 10px;
    width: 100%;
    border-bottom: 1px solid var(--gray-light-100);

    .header {
        .author {
            font-weight: bold;
            color: var(--primary);
        }
        .title {
            width: 100%;
            font-weight: bold;
            text-transform: capitalize;
        }
    }

    .bodyText {
        padding: 5px;
        width: 100%;
        text-transform: capitalize;
        background-color: var(--white);
    }
}
